<%= form_tag admin_tours_path, method: :get, class:"input-group mb-3" do %>
  <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"),
    include_blank: "All", class:"custom-select", id:"category"%>
<% end %>
<div class="row main-home">
  <%= render "shared/feed" %>
</div>
